<%- include("../includes/header.ejs", {title:"Add New Artist"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>
    <div class="page-header">
        <h1>Add New Stage</h1>
    </div>

    <form action="/stage/insert" method="get">
        Open Time: <input id="open_time" name="open_time" type="text" />
        <br />
        Close Time:  <input id="close_time" name="close_time" type="text" />
        <br />
        <br/>
        Add any necessary materials for the stage (you can add more later from the stage materials page).
        <br/>
        <br/>
        Material ID:  <input id="material_id" name="material_id" type="text" />
        <br />
        Material Type:  <input id="material_type" name="material_type" type="text" />
        <br />
        Material Quantity:  <input id="quantity" name="quantity" type="text" />
        <br />
        <br/>
        Material ID:  <input id="material_id2" name="material_id2" type="text" />
        <br />
        Material Type:  <input id="material_type2" name="material_type2" type="text" />
        <br />
        Material Quantity:  <input id="quantity2" name="quantity2" type="text" />
        <br />
        <br/>
        <input type="submit" />

    </form>
<br/>

<a href="/stage/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>