<%- include("../includes/header.ejs", {title:"Add New Artist"}); %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="page-header">
        <h1>Add New Employee</h1>
    </div>

    <form action="/employee/insert" method="get">
        First Name: <input id="fname" name="fname" type="text" />
        <br />
        Last Name:  <input id="lname" name="lname" type="text" />
        <br />
        Phone Number:  <input id="phone" name="phone" type="text" />
        <br />
        Stage Number:
        <select id="stage_id" name="stage_id">
            <% for(var i=0; stage.length > i; i++ ) { %>
            <option value="<%= stage[i].stage_id %>">Stage <%= stage[i].stage_id %></option>
            <% } %>
        </select>
        <br />
        <input type="submit" />

    </form>
<br/>
<a href="/employee/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>