<%- include("../includes/header.ejs", {title:"Employees - Booked Artist"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="page-header">
    <h1>Employees Who Booked an Artist</h1>
</div>
<br />

<table class="table table-striped">
    <thead>
    <tr><th>Name</th><th>Phone</th></tr>
    </thead>
    <tbody>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/employee/?employee_id=<%= result[i].employee_id %>"><%= result[i].fname %> <%= result[i].lname %></a></td>
        <td><%= result[i].phone %></td>
    </tr>
    <% } %>
    </tbody>

</table>
<a href="/employee/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>