<%- include("../includes/header.ejs", {title:"Add New Artist"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="page-header">
    <h1>Add New Artist</h1>
    </div>
    <form action="/artist/insert" method="get">
        Name: <input id="artist_name" name="artist_name" type="text" />
        <br />
        Email:  <input id="email" name="email" type="text" />
        <br />
        Phone:  <input id="phone" name="phone" type="text" />
        <br />
        <br />
        <input type="submit" />
    </form>
<br/>

<a href="/artist/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>