<%- include("../includes/header.ejs", {title: "Update " + artist.artist_name}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Concert Booking</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/booking/all">Bookings</a></li>
                <li><a href="/artist/all">Artists</a></li>
                <li><a href="/employee/all">Employees</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="page-header">
    <h1>Update <%= artist.artist_name %></h1>
</div>

<form action="/artist/update" method="get">
    <input type="hidden" id="artist_id" name="artist_id" value="<%= artist.artist_id %>">
    Name: <input id="artist_name" name="artist_name" type="text" value="<%= artist.artist_name%>"/>
    <br />
    Email: <input id="email" name="email" type="text" value="<%= artist.email %>"/>
    <br />
    Phone: <input id="phone" name="phone" type="text" value="<%= artist.phone %>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>